.footer {
  padding: 50px 0;
  box-shadow: $box-shadow;
  font-size: 1rem;
  width: 100%;
  &__logo {
    height: 100px;
    width: unset;
  }
  &__about {
    p {
      margin-bottom: 1rem;
    }
  }
  &__title {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
  }
  &__content {
    p {
      margin-bottom: 0.8rem;
      font-size: 1rem;
      &:hover {
        color: $txt-second-color;
      }
    }
  }
}
